<div class="container">
    <div class="row justify-content-center mt-5 pt-5">
        <div class="col-md-7 color1 borde text-light">
            <h1 class="text-center"><b>Contactanos</b></h1>
            <hr>

            <form action="" class="p-5">
                <div class="row form-group ">
                    <label for="nombre" class="col-form-label col-md-3">Nombre:</label>
                    <div class="col-md-8">
                        <input type="text" name="nombre" class="form-control">
                    </div>
                </div>

                <div class="row  form-group">
                    <label for="apellido" class="col-form-label col-md-3">Apellido:</label>
                    <div class="col-md-8">
                        <input type="text" name="apellido" class="form-control">
                    </div>
                </div>

                <div class="row  form-group">
                    <label for="asunto" class="col-form-label col-md-3">Asunto:</label>
                    <div class="col-md-8">
                        <input type="text" name="asunto" class="form-control">
                    </div>
                </div>
                <div class="row  form-group">
                    <label for="mensaje" class="col-form-label col-md-3">Mensaje:</label>
                    <div class="col-md-8">
                        <textarea name="mensaje" id="" rows="3" class="form-control"></textarea>
                    </div>
                </div>

                <button type="button" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small bg-dark text-light mt-5">

    <div class="container">
        <div class="row pt-3">
            <div class="col-md-9">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, voluptate! voluptate!</p>
            </div>

            <div class="col-md-3 ">
                <img class="img-fluid mr-3" src="assets/images/Facebook.png" alt="">
                <img class="img-fluid mr-3" src="assets/images/Twitter.png" alt="">
                <img class="img-fluid" src="assets/images/Youtube.png" alt="">
            </div>

        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">© 2020 Copyright:
        <a href="#">jimmygonzalez.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->